body {
  background: #dedede;
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.row {
  padding-right:0;
  padding-left:0;
}
.section-ourTeam {
  background-image: url("../images/gal.jpg");
  height: 250px;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 50px;
}

.whole-container {
  z-index: 9;
  position: relative;
  background-image: url("../images/gallery/bg.jpg");
  background: #dedede;

}
.letter h2{
  margin-top: 80px;
  color: white;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 40px;
  font: normal 50px 'Open Sans';
}
.slideanim {
  visibility: hidden;
}
.polaroid {
  margin:0;
  width: 100%;
  background-color: white;
  padding-right:0;
    padding-left:0;
    padding-top: 0;
}
.image-container{
  margin-top:20px;
  margin:none !important;
}
.text-container{
  padding:10px 5px 10px 5px;
}
.tz-gallery {
    padding: 20px;
}

.tz-gallery .thumbnail {
  width: 100%;
  background-color: white;
  margin-bottom: 25px;
}

.tz-gallery .thumbnail:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(167, 167, 167, 0.71);
    margin: none !important;
}

.tz-gallery .caption{
    padding: 10px 20px;
    text-align: center;
    font: normal 36px 'Open Sans';
}

.tz-gallery .caption h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    color: black;
}

.tz-gallery .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
}

.baguetteBox-button {
    background-color: transparent !important;
}
@media(max-width:500px) {
  .letter h2{
    margin-top: 30px;
    font: normal 20px 'Open Sans';
  }
  .section-ourTeam {
    height: 100px;
    margin: none;
  }
  .tz-gallery {
      padding: 30px;
  }
}
