body {
  margin: 0;
  padding: 0;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.navbar {

  margin-bottom: 0;
  background-color: black;
  z-index: 999999;
  border: 0;
  font-size: 15px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:100%;
}
.navbar-brand img{
  padding:none;
  margin:none;
  height:250%;
}
.navbar-nav>li {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: yellow;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff;
}

.about p.para {
  font-size: 16px;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
  padding: 0 20px;
  color: #777;
  margin-bottom: 40px;
}

.about-grid h4 {
  font-size: 25px;
  color: #0161A5;
  margin-bottom: 25px;
  font-weight: 600;
}

.about-grid p {
  line-height: 27px;
  text-align: center;
  color: #888b90;
}

/*-- Headings --*/

.about h1, .agency h2, .services h3, .gallery h3, .clients h3, .team h3 {
  margin-bottom: 50px;
  text-align: center;
  font-family: inherit;
  font-size: 40px;
  font-weight: 600;
  color: #003b64;
}
.about {
   margin-right:0px;

}
.about p {
  margin-right: 15px;

}
.services h3{
  margin-top: 65px;
}

.agency h2, .clients h3, .contact h3 {
  color: #FFFFFF;
}
.slideanim {
    visibility: hidden;
  }
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(-40%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-40%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
    }
  }
  /* SLIDE UP*/
  .slideanimup {
    visibility: hidden;
  }
  .slideup {
    animation-name: slideup;
    -webkit-animation-name: slideup;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slideup {
    0% {
      opacity: 0;
      transform: translateY(-40%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @-webkit-keyframes slideup {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-40%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  /*SLIDE RIGHT*/
  .slideanimright {
    visibility: hidden;
  }
  .slideright {
    animation-name: slideright;
    -webkit-animation-name: slideright;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slideright {
    0% {
      opacity: 0;
      transform: translateX(40%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @-webkit-keyframes slideright {
    0% {
      opacity: 0;
      -webkit-transform: translateX(40%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
    }
  }
/*-- //Headings --*/

a:hover {
  color: white;
}

/* Border from Y to X  */

.borderYtoX a:before, .borderYtoX a:after {
  position: absolute;
  opacity: 0.9;
  height: 100%;
  content: ' ';
  transition: all 0.3s;
}

.borderYtoX a:before {
  left: 0px;
  top: 0px;
}

.borderYtoX a:after {
  right: 0px;
  bottom: 0px;
}

.borderYtoX a:hover:before, div.borderYtoX a:hover:after {
  background-color: yellow;
  opacity: 0.9;
  height: 2px;
  width: 100%;
}
footer p{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;

}
footer {
  background-image: url("../images/ag1.jpg");

  color: white;
  padding: 40px 0;
  bottom: 0;
  width: 100%;
}

footer a:hover {
  text-decoration: none;
}

footer .space {
  margin-bottom: 20px;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie';
  margin: 0;
}

.fa-facebook {
  font-size: 24px;
  color: #3B5998;
  padding: 14px;
  background: white;
  border-radius: 5px;
  margin-left: 10px;
}

.fa-github {
  font-size: 24px;
  color: white;
  padding: 14px;
  background: #1DA1F2;
  border-radius: 50%;
  margin-left: 10px;
}

.fa-instagram {
  color: white;
  padding: 14px;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  font-size: 24px;
  border-radius: 5px;
  margin-left: 10px;
}

.fa-youtube {
  color: white;
  padding: 14px;
  background: red;
  border-radius: 200px;
  margin-left: 10px;
  font-size: 24px;
}

.fa:hover {
  background: white;
  color: black;
}

.footer-distributed h3 span {
  color: #5383d3;
}

.footer-distributed .footer-company-name {
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-name span {
  color: #65a6ff;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
}
@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
@media(max-width:500px) {
  .navbar-brand img{
    height: 130%;
  }
  footer p{
      font-size: 10px;
  }
  .footer-distributed h3 {
    font: normal 26px 'Cookie';
    margin: 0;
  }
  .fa-facebook {
    padding: 10px;
    font-size: 15px;
  }

  .fa-github {
    padding: 10px;
    font-size: 15px;
  }

  .fa-instagram {
    padding: 10px;
    font-size: 15px;
  }

  .fa-youtube {
    padding: 10px;
    font-size: 15px;
  }

}
