body{
  margin:0;
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#particles{
  z-index: 100;
  height: 100vh;
  position: absolute;
  width:100%;
}
header{
  margin-top:0px;
  position: relative;
  height: 100vh;
  background: black;
  background-attachment: fixed;
}

.content h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 70px;
  margin: none;
  padding: none;
}

#typed {
  caret-color: white;
}
#logo{
  display: block;
  margin: auto;
  position: relative;
  top:0%;
}
#logo-sb{
  display:block;
  position: absolute;
  top:0;

}
.layer{
  width:100%;
  position: absolute;
  bottom: 0;
  left: 0;
  will-change: transform;
}


section{
  position: relative;
}
.agency {
  background-color: white ;
}

.agency-grid {
  text-align: center;
}

.agency-grid-img img {
  width: 150px;
}

.agency-grid h4 {
  color: #0f0f0f;
  font-size: 25px;
  font-weight: bold;
}
.agency-grid-cont .SUBSYSTEMS h2{
  color: black;
}
.agency-grid p {
  color: #0f0f0f;
  line-height: 27px;
  font-size: 20px;
}
.agency-grid-cont{
  background-color:lightgrey;
  padding-top:60px;
  padding-bottom:100px;
}

.agency-grid-content{
  padding-left:60px;
  padding-right:60px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: black;
}

.carousel-indicators li {
    border-color: black;
    transform: translateX(50%);
}

.carousel-indicators li.active {
    background-color: black;
}

@media screen and (min-width:1000px) {
  .agency-grid-content{
    right:150px;
  }
}

@media screen and (max-width: 920px) {
  .content h1 {
    font-size: 60px;
  }
  .agency-grid-cont{
    height:600px;
  }
}
@media(max-width:500px) {
  .content h1 {
    font-size: 40px;
  }
  .agency-grid-cont{
    height:850px;
  }
}
